.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: black;
	width: 100vw;
	height: 100vh;
	margin: 0;
	font-weight: bolder;
	/* line-height: 1rem; */
	text-align: center;
}

.text1 {
	font-size: 4rem;
	color: orange;
	margin: 0;
}

.text2 {
	font-size: 3rem;
	color: chocolate;
	margin: 0;
}

.text3 {
	font-size: 3rem;
	color: lightcoral;
	margin: 0;
}
